.container {
    width: 1200px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}

.min-height {
    min-height: 75%;
}

.start {
    justify-content: flex-start;
}

.column {
    flex-direction: column;
    justify-content: flex-start ;
}

@media (max-width: 768px) {
    .container {
        width: 100%; /* Preenche toda a largura da tela */
    }

    .min-height {
        min-height: auto; /* Remove a altura mínima */
    }

    .start {
        justify-content: center; /* Centraliza o conteúdo verticalmente */
    }

    .column {
        flex-direction: column;
        align-items: center; /* Centraliza o conteúdo horizontalmente */
    }
}