.item_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    list-style-type: none; 
    padding: 10px; 
  }
  
  .item_container li {
    border: 1px solid #ccc; 
    padding: 8px; 
  }
  .item_container p {
    border: 1px solid #ccc;
    padding: 8px; 
  }

  .item_container_selected {
    display: grid; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px; 
    list-style-type: none; 
    padding: 10px; 
  }

  .item_container_selected li {
    border: 1px solid #2510dd; 
    padding: 8px; 
  }
  .item_container_selected p {
    border: 1px solid #2510dd;
    padding: 8px;
  }

  @media (max-width: 768px) {
    .item_container,
    .item_container_selected {
        grid-template-columns: 1fr; 
    }
}
  