.item_container {
    display: grid; /* Usar um layout de grade */
    grid-template-columns: repeat(3, 1fr); /* 3 colunas com largura flexível */
    gap: 10px; /* Espaçamento entre as células */
    list-style-type: none; /* Remova os pontos de início da lista */
    padding: 10px; /* Adicione um espaço interno para os elementos */
  }
  
  .item_container li {
    border: 1px solid #ccc; /* Adicione borda 3D */
    padding: 8px; /* Espaçamento interno dos elementos */
  }
  