.item_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    list-style-type: none; 
    padding: 10px;
  }
  
  .item_container li {
    border: 1px solid #ccc;
    padding: 8px; 
  }

  @media (max-width: 768px) {
    .item_container {
        grid-template-columns: 1fr; 
    }
    
    .item_container li {
        margin-bottom: 10px; 
    }
}
  